.btn{
   
    margin-left: 300px;
    padding-left:55px;
    padding-right: 55px;
    padding-top:20px;
    padding-bottom: 20px;
}
.test{
  height: 300px;
}
.action{
    padding-left:550px;
    padding-top: 40px;
}
#log{
   padding-left:550px;
   padding-top: 120px;
}
.app{
    padding-left:610px;
}
#btnmessage{
    padding-left:310px;
    padding-top:110px;
}
/*.btn1{
    margin-top:150px;
    margin-left: 200px;
}*/